body {
  width: 80%;
}

div,
p,
body,
header,
footer,
section,
article,
nav {
  margin: 0;
  padding: 0;
}

img {
  border: none; /*Remove border if image is a link*/
  margin: 0;
  padding: 0;
}

p {
  color: #333;
  line-height: 100px;

  text-align: center;
  margin: 0;
}
